.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
    background: #495e57;
}
.hero-content{
    grid-column-gap: 2rem;
    align-items: center;
    display: grid;
    grid-template: "info image";
    grid-template-columns: 60fr 40fr;
    height: 100%;
    margin: 0 auto;
    max-width: 65rem;
    padding: 2rem 0;
    width:100%;
    text-align: left;
}
