.nav-bar-logo img {
    max-width: 15.625rem;
  }
  .nav-bar {
    grid-template-columns: auto auto auto;
    min-height: 6.25rem;
  }
  .nav-bar-logo {
    grid-column: 1;
    justify-self: start;
    align-self: center;
    line-height: 0;
  }